@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');


*{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}
body{
  background: linear-gradient(rgb(143, 220, 243, 0.6), rgb(35, 136, 230, 0.5));
  height: 100vh;
  display: flex;
  justify-content: center;
}

#heading{
  margin-top: 7%;
  text-align: center;
  font-size: 1.8rem; 
  font-weight: 600;
  text-transform: uppercase;
  background: -webkit-linear-gradient(rgb(68, 175, 224), #333);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.container{
  top: 40%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  /* margin: 0, auto; */
  width: 300px;
  border: 10px solid rgb(68, 175, 224);
  text-align: center;
  background: rgb(68, 175, 224);
  border-radius: 5px;
}

.keypad{
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
}

button{
  cursor: pointer;
  border-radius: 4px;
  margin: 4px;
  border: none;
  background: rgb(152, 210, 236);
  color: black;
}

input{
  height: 60px;
  width: 295px;
  outline: none;
  background: rgb(68, 175, 224);
  border: 0;
  padding-top: 5px;
  text-align: right;
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 2px;
}

#clear{
  grid-column: 1/3;
  grid-row: 1;
  color: rgba(241, 0, 0, 0.7);
  font-size: 1rem;
  text-transform: uppercase ;
  font-weight: 500;
}

#total{
  grid-column: 3/5;

}

.highlight{
  background-color: whitesmoke;
}
